$colors: (
  colorfull: (
    green: #2bd67b,
    blue: #4070f4
  ),
  white: (
    base: #fff,
    darkest: #fafafa
  ),
  dark: (
    base: #040413,
    darkest: #090918
  )
) !default;

@function color($color, $complementary: null) {
  @if map-has-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }
    } @else {
      @return map-get(map-get($colors, $color), $complementary);
    }
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
  background-color: var(--ice);
}

.container {
  margin: 0 auto;
  width: 1235px;
}